{% if team_id == 'tor' and allow_user_voting %}
	<script src="http://playerrater.raptorsrepublic.com/client.min.js"></script>	
	<iframe height="0" width="0" tab-index="-1" style="display:none" hidden data-game-id="{{game_id}}" data-team-id="{{team_id}}" id="grader-iframe" src="http://playerrater.raptorsrepublic.com/mediator.html"></iframe>
{% endif %}
<div class="thn-reaction"><div class="thn-reaction-header"><table class="thn-reaction-table"><tr>
<td><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500-dark/{{ abbrs.0 }}.png?w=50&h=50&transparent=true"></td>
<td>{{ names.0  }}</td>
<td class="thn-reaction-score">{{ score.0 }}</td>
<td class="thn-reaction-final">Final<br />
 <a href="http://espn.go.com/nba/recap?gameId={{ game_id }}">Recap</a> | <a href="http://espn.go.com/nba/boxscore?gameId={{ game_id }}">Box Score</a></td>
<td class="thn-reaction-score">{{ score.1 }}</td>
<td>{{ names.1  }}</td>
<td><img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500-dark/{{ abbrs.1 }}.png?w=50&h=50&transparent=true"></td>
</tr>
</table>
</div><div class="thn-reaction-grades">
<table>
 
     {% for p in starters %}
        {% include "singlereaction.html" %}
    {% endfor %}
   {% for p in bench %}
        {% include "singlereaction.html" %}
    {% endfor %}


 
     {% if coach.blurb %}
    	{% include "coachreaction.html" %}
     {% endif %}
    
  </table>
 </div>
 {% if things|length != 0 %}
 <div class="thn-reaction-summary">
 <h4>{{ str_things_count }} We Saw</h4>
<ol>
     {% for t in things %}
        {% if t %}
           <li>{{ t }}</li>
        {% endif %}
    {% endfor %}
</ol>
</div>

    {% endif %}
</div>

